build/
unit-test-build/
target/

.idea/
.cmake
CMakeFiles/
cscope.files
cscope.out
tags
*.class
*.jar
restart-mysql.sh
*.swp
*.reject
/.project
/mysql-*/.cproject
/mysql-*/.project
/mysql-*/.settings/org.eclipse.cdt.codan.core.prefs
/BulkLoader/input.csv
*.iml
*.classpath
*.project
*.cproject
*.settings
repl-port
gen/
.vagrant
