build/
target/

.idea/
.cmake
CMakeFiles/
cscope.files
cscope.out
tags
*.class
*.jar
restart-mysql.sh
*.swp
*.reject
/.project
/mysql-5.5.25a/.cproject
/mysql-5.5.25a/.project
/mysql-5.5.25a/.settings/org.eclipse.cdt.codan.core.prefs
